.tableList{
  overflow-x: auto; 
}
.table {
  width: 100%;
  border-collapse: collapse;
  tr:not(:first-child) {
    padding-bottom: 3rem;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: all 0.2s;
    &:not(:first-child):hover {
      background-color: #ededed;
    }
  }
  tr:first-child {
    border-bottom: 2px solid #000;
  }
  td,
  th {
    padding: 1rem;
  }
  & > * {
    text-align: center;
  }
}
.orderHistory_details_btn {
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 1rem;
  background-color: #d3d3d3;
  &:active {
    background-color: #ccc;
    transform: translateY(3px);
  }
}
