.footer {
  background-color: #404040;
  padding: 2.5rem 0;
  grid-row: 3/-1;
  grid-column: full-start/full-end;
  display: grid;
  align-items: center;
  justify-items: center;
  align-content: center;
  &__text {
    color: #fff;
    font-size: 1.6rem;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      color: $color-primary-gold;
      transform: scale(1.1);
    }
  }
}
