.header {
  background-color: #404040;
  padding: 1rem;
  grid-row: 1/2;
  grid-column: full-start/full-end;
  display: grid;
  align-content: center;
  &__brandName {
    width: 3rem;
    color: #fff;
    font-weight: bold;
    font-size: 1.4rem;
    text-decoration: none;
    transition: all 0.2s;
    cursor: pointer;
    &:hover {
      color: $color-primary-gold;
    }
  }
}
.nav {
  list-style-type: none;

  &__item {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }
  &__link {
    transition: all 0.2s;
    &:link,
    &:visited {
      color: #fff;
      text-decoration: none;
      font-weight: bold;
      font-size: 1.4rem;
    }
    &:hover,
    &:active {
      color: $color-primary-gold;
    }
  }
}
.cart__quantity {
  text-align: center;
  font-size: 0.9rem;
  position: absolute;
  top: 0.4rem;
  left: 13.8rem;
  background-color: red;
  padding: 0.2rem 0.3rem;
  border-radius: 50%;
}
