.header {
  background-color: #404040;
  grid-row: 1/2;
  grid-column: full-start/full-end;
  height: 58px;
  /*&__brandName {
    width: 3rem;
    position: absolute;
    color: #fff;
    font-weight: bold;
    font-size: 1.4rem;
    text-decoration: none;
    transition: all 0.2s;
    cursor: pointer;
    &:hover {
      color: $color-primary-gold;
    }
  }*/
}
/*.nav {
  list-style-type: none;

  &__item {
    display: inline-block;
    &:last-child {
      margin-right: 5rem;
    }
  }
  &__link {
    padding: 1rem;
    display: block;
    transition: all 0.2s;

    &:link,
    &:visited {
      color: #fff;
      text-decoration: none;
      font-weight: bold;
      font-size: 1.4rem;
    }
    &:hover,
    &:active {
      color: $color-primary-gold;
    }
  }
  &__left-section {
    float: right;
  }
}
.cart__quantity {
  text-align: center;
  font-size: 0.9rem;
  position: relative;
  top: -0.4rem;
  left: 0.2rem;
  background-color: red;
  padding: 0.2rem 0.3rem;
  border-radius: 50%;
}

.userProfile {
  width: 2rem;
  display: block;
  transition: all 0.2s;

  &__links {
    display: none;
    max-width: 180px;
    background-color: #404040;
    color: #404040;
    transition: all 0.2s;
  }

  &:hover &__links {
    display: block;
    position: absolute;
    top: 3.04rem;
    right: 0.1rem;
    color: #404040;
    z-index: 1;
  }
}
.dropbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}*/

.nav {
  width: 100%;

  background-color: #404040;
  position: relative;
}

.nav > .nav-header {
  position: absolute;
  left: 10rem;
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 1rem;
  text-decoration: none;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  position: relative;
  right: 10rem;
  font-size: 18px;
}

.nav > .nav-links > a,
.nav > .nav-links > span > a,
.nav > .nav-links > span > div > a {
  display: inline-block;
  padding: 1.15rem;
  text-decoration: none;
  color: #efefef;
  align-self: stretch;
}

.nav > .nav-links > a:hover,
.nav > .nav-links > span > a:hover,
.nav-title:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 700px) {
  .nav > .nav-header {
    left: 0rem;
  }
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 25px;
    height: 32px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a,
  .nav > .nav-links > span > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: 40vh;
    //overflow-y: auto;
    overflow: hidden;
  }
}
/* Dropdown Button */
.dropbtn {
  color: white;
  padding: 1rem;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
.cart__quantity {
  font-weight: bold;
  text-align: center;
  font-size: 0.9rem;
  position: relative;
  top: -0.4rem;
  left: 0.2rem;
  background-color: red;
  padding: 0.2rem 0.3rem;
  border-radius: 50%;
}
