main {
  padding: 1rem;
  grid-row: 2/3;
  grid-column: center-start/center-end;
  @media only screen and (max-width: $bp-medium) {
    grid-column: full-start / full-end;
    margin: 2rem;
  }
}
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  justify-items: center;
  grid-gap: 0.6rem;
}
