.signIn {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  border: 1px solid #ccc;
  padding: 1rem;
  box-shadow: 0.2rem 0.3rem 0.5rem #ccc;
}
.form {
  display: grid;
  justify-items: start;
  transition: all 0.3s;
  grid-column: 1/1;
  &__input {
    margin: 1rem auto;
    padding: 0.5rem 2rem;
    width: 90%;
    display: block;
    font-family: inherit;
    font-size: 1.5rem;
    color: inherit;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
    transition: all 0.2s;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(black, 0.1);
      border-bottom: 0.2rem solid $color-primary-gold;
    }
    &:focus:invalid {
      border-bottom: 0.2rem solid #ff7730;
    }
  }
  &__label {
    color: #000;
  }
  &__payment {
    text-align: left;
  }
}
