.btn {
  background-color: $color-primary-gold;
  border: 0.5px solid rgb(39, 81, 247);
  padding: 0.5rem 2rem;
  color: #000;
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 20px;
  box-shadow: 0.2rem 0.3rem 0.4rem #ccc;
  &:hover {
    background-color: $color-metallic-gold;
    transform: translateY(-3px);
  }
  &:active {
    transform: translateY(3px);
  }
}
.btn__disabled {
  background-color: #0d6efd;
  color: #fff;
  border: 0.5px solid rgb(39, 81, 247);
  padding: 0.5rem 2rem;
  border-radius: 20px;
  box-shadow: 0.2rem 0.3rem 0.4rem #ccc;
  font-size: 1.4rem;
  cursor: pointer;
}

.btn_gray {
  background-color: #ccc;
  border:none;
  padding: 0.5rem 2rem;
  color: #000;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: $color-metallic-gold;
    transform: translateY(-3px);
    color:#fff;
  }
  &:active {
    transform: translateY(3px);
  }
}